@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.appDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 415px) {
    .appDiv{
        flex-direction: column;
    }
}