.divPadre{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.conocimientosDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.conocimientoLogos{
    padding: 5px;
}

.conocimientoLogos:hover{
    background-color: #2f2b2b;
    transition: all 0.6s ease;
    border-radius: 8px;
    transform: scale(1.1);
}

@media (max-width: 390px) {
    .divPadre{
        width: 80%;
        flex-direction: row;
        justify-content: flex-end;
        gap: 60px;
    }

    .conocimientosDiv{
        flex-direction: column;
    }

    .conocimientoLogos{
        width: 75%;
    }
}