@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.logo{
    border-radius: 50%;
    width: 30%;
}

.navDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    gap: 30px;
    border-right: 2px solid #2f2b2b;
}

.navLinks{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.navLink{
    color: white;
    border: 1.6px solid black;
    background-color: #2f2b2b;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    width: 300px;
    display: flex;
    justify-content: center;
}

:root{
    --color: #fff;
}

.navLink:hover{
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
    transform: scale(1.1);
    transition: ease 1s;
}

.navLink span:nth-child(n){
    position: fixed;
    width: 10px;
    height: 10px;
    border: 1.6px solid;
    transition: all 0.6s ease;
}

.navLink span:nth-child(1){
    right: 10%;
    top: -18%;
    background-color: #fff;
}

.navLink span:nth-child(2){
    left: 10%;
    bottom: -18%;
    background-color: #2f2b2b;
}

.navLink:hover span:nth-child(1){
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
}

.navLink:hover span:nth-child(2){
    left: 80%;
    transform: rotate(90deg);
    color: var(--color);
}

@media (max-width: 415px){
    .navDiv{
        gap: 10px;
    }
    
    .navLinks{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .navLink{
        width: 135px;
        font-size: smaller;
    }

    .logo{
        width: 15%;
    }
}