.proyectoDivPadre{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 60%;
}

.proyectoDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.proyectoNombre{
    border-bottom: 1.6px solid #fff;    
    transition: all 0.6s ease;  
    margin-top: 0 !important; 
}

.proyectoImg{
    width: 400px;
    margin-top: 10px;
    border-radius: 5px;
}

.proyectoImg:hover{
    box-shadow: 6px 7px 17px 0px rgb(179, 169, 169);
    transition: all 1s ease;
    border: 1.6px solid #fff;
    box-sizing: border-box;
}

.proyectoLinks{
    color: #fff;
    text-decoration: none;
}

@media (max-width: 415px) {
    .proyectoDivPadre{
        flex-direction: column;
    }

    .proyectoImg{
        width: 240px;
    }

    .proyectoLinks{
        font-size: small;
    }

    .proyectoDiv{
        width: 240px;
    }
}